pandas==2.3.3
numpy==1.24.3
scikit-learn==1.6.1
tensorflow==2.13.1
keras==3.10.0
fastapi==0.128.8
uvicorn==0.39.0
requests==2.32.5
joblib==1.5.3
plotly==6.6.0
matplotlib==3.9.4
streamlit==1.12.0
statsmodels==0.14.4
